/* .App {
  display: flex;
  align-items: center;  
  text-align: center;
  width: 375px; 
  background-color: red;
} */

/* .App {
  display: flex;
  justify-content: center;
  width: 375px;
  background-color: antiquewhite;
} */